.sample{
display: flex;
justify-content: space-evenly;
background-color:black;
color: white;
font-weight: bolder;
height: 100px;
}

.main{width: 100%;}

.sample1{
    display: flex;
    justify-content: space-evenly;
    
}

.sample1 p{
    margin-left: 5px;
}